/*
0 - 600px Phone
600 - 900px Tablet portrait
900 - 1200px Tablet landscape
[1200 - 1800] is where our normal style apply
1800px + : Tablet portrait
?breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em  = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 58.23%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #0e2431;
  height: auto; }

.nevigation {
  max-width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999; }
  .nevigation__logo--box {
    display: flex;
    align-items: center; }
  .nevigation .logo__image {
    width: 3rem;
    height: 3rem; }
  .nevigation__logo {
    font-size: 2rem;
    color: #7979d2;
    font-weight: 500; }
  .nevigation .btn__box {
    display: flex; }

.nav__btn {
  font-size: 1.5rem;
  padding: .5rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  transition: all .5s; }
  .nav__btn:hover {
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }

#import {
  background-color: white;
  color: black; }

#export {
  background-color: #d33852;
  color: white; }

#save {
  background-color: #008392; }
