/*
0 - 600px Phone
600 - 900px Tablet portrait
900 - 1200px Tablet landscape
[1200 - 1800] is where our normal style apply
1800px + : Tablet portrait
?breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em  = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 58.23%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #0e2431;
  height: auto; }

.nevigation {
  max-width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999; }
  .nevigation__logo--box {
    display: flex;
    align-items: center; }
  .nevigation .logo__image {
    width: 3rem;
    height: 3rem; }
  .nevigation__logo {
    font-size: 2rem;
    color: #7979d2;
    font-weight: 500; }
  .nevigation .btn__box {
    display: flex; }

.nav__btn {
  font-size: 1.5rem;
  padding: .5rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  transition: all .5s; }
  .nav__btn:hover {
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }

#import {
  background-color: white;
  color: black; }

#export {
  background-color: #d33852;
  color: white; }

#save {
  background-color: #008392;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  margin-top: 2rem;
  border-radius: 5px;
  border: none; }
  #save:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    cursor: pointer; }

.upload__box {
  display: flex;
  width: 20rem;
  height: 20rem;
  background-color: #f9f9f9;
  align-items: center;
  border-radius: 50%;
  justify-content: center; }
  .upload__box--sub {
    display: flex;
    height: 3rem;
    border: 1px solid red;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(119, 119, 119, 0.281);
    transition: all .5s; }
    .upload__box--sub:hover {
      border: 1px solid black;
      cursor: pointer; }
  .upload__box .upload__img {
    width: 2rem;
    height: 2rem; }
    .upload__box .upload__img--text {
      font-size: 1.5rem; }

.main__left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center; }

.main__right {
  width: 80%;
  display: flex;
  font-size: 1.5rem; }
  .main__right .main__right--section--left {
    margin-right: 3rem; }
  .main__right input {
    font-size: 3rem;
    margin-right: 1rem;
    width: 50rem;
    margin-bottom: 2rem; }
  .main__right textarea {
    resize: none; }

main {
  display: flex;
  padding: 5rem;
  margin-bottom: 2rem; }
