.add__btn{
    font-size: 2rem;
    background-color: white;
    padding: 0.5rem 1rem;
    border: 1px solid $color-grey-dark-2;
    border-radius: 5px;
    width: 50%;
    display: block;
    margin: 0 auto;
    &:hover{
        cursor: pointer;
        background-color: $color-grey-dark;
    }
}

.nav__btn{
    font-size: 1.5rem;
    padding: .5rem 1rem; 
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    transition: all .5s;
    &:hover{
        cursor: pointer;
        @include defaultShadow;
    }
}

#import{
    background-color: white;
    color: black;
}

#export{
    background-color: $color-btn-red;
    color: white;
}

#savebtn{
    background-color: $btn-save;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    &:hover{
        @include defaultShadow;
        cursor: pointer;
    }
}